[Desktop Entry]
Name=Kiriki
Name[fa]=کیریکی
Name[ne]=किरिकि
Name[te]=కిరికి
Name[x-test]=xxKirikixx
Icon=kiriki
Type=Application
Exec=kiriki -caption "%c"
X-DocPath=kiriki/index.html
GenericName=Yahtzee-like Dice Game
GenericName[ca]=Joc de daus com el Yahtzee
GenericName[da]=Yatzy-lignende terningespil
GenericName[de]=Kniffel-ähnliches Würfelspiel
GenericName[el]=Παιχνίδι με ζάρια παρόμοιο με το Yahtzee
GenericName[eo]=Ĵetkuba ludo simila al Yahtzee
GenericName[es]=Juego de dados similar al Yahtzee
GenericName[et]=Yahtzee moodi täringumäng
GenericName[fa]=بازی طاس شبیه Yahtzee
GenericName[fi]=Yatzin kaltainen noppapeli
GenericName[fr]=Jeu de dés dans le style du Yam's
GenericName[ga]=Cluiche Dísle cosúil le Yahtzee
GenericName[gl]=Xogo de dados ao estilo de Yahtzee
GenericName[hu]=Yahtzee-szerű kockajáték
GenericName[it]=Gioco di dadi simile a Yahtzee
GenericName[ja]=ヤッツィーのようなダイスゲーム
GenericName[km]=ល្បែង Yahtzee ដូចនឹង Dice
GenericName[lv]=Yathzee līdzīga kauliņu spēle
GenericName[nds]=Yahtzee-liek Wörpelspeel
GenericName[ne]=याहेट्जी जस्तै पासा खेल
GenericName[nl]=Yahtzee-achtig dobbelsteenspel
GenericName[nn]=Yatzy-liknande terningspel
GenericName[pl]=Gra typu Yahtzee
GenericName[pt]=Jogo de Dados tipo Yahtzee
GenericName[pt_BR]=Jogo de dados parecido com Yahtzee ou Yam
GenericName[sl]=Igra s kockami, podobna Jamb-u (Yahtzee)
GenericName[sv]=Yatzy-liknande tärningsspel
GenericName[uk]=Гра схожа на покер з кістками
GenericName[wa]=On djeu d' dés ki ravize li djeu Yahtzee
GenericName[x-test]=xxYahtzee-like Dice Gamexx
GenericName[zh_CN]=快艇骰子游戏
GenericName[zh_TW]=類似 Yahtzee 的骰子遊戲
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;BoardGame;
